.catalog-item {
  background: #fff;
  text-decoration: none;
  width: 23.5%;
  border-radius: 12px;
  padding: 40px 0;
}

.catalog-item h5 {
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  margin: 0;
}

.catalog-items a::before {
  content: "";
  width: 119px;
  height: 119px;
  display: block;
  margin: 0 auto;
  margin-bottom: 11px;
}

.ic-item-1::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat right -255px top -65px;
}

.ic-item-2::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat left -116px top -65px;
}

.ic-item-3::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat right -105px top -65px;
}

.ic-item-4::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat left -250px top -65px;
}

.ic-item-5::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat left -118px bottom -145px;
}

.ic-item-6::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat left -250px bottom -145px;
}

.ic-item-7::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat right -253px bottom -145px;
}

.ic-item-8::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat right -102px bottom -145px;
}

.catalog-item:hover {
  box-shadow: 0 15px 25px 0 rgba(48, 63, 115, 0.15);
}

.ic-item-1:hover::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat right -255px top -207px;
}

.ic-item-2:hover::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat left -116px top -207px;
}

.ic-item-3:hover::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat right -105px top -207px;
}

.ic-item-4:hover::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat left -250px top -207px;
}

.ic-item-5:hover::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat left -118px bottom -31px;
}

.ic-item-6:hover::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat left -250px bottom -31px;
}

.ic-item-7:hover::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat right -253px bottom -31px;
}

.ic-item-8:hover::before {
  background: url(../../assets/images/icons-catalog.png) no-repeat right -102px bottom -31px;
}