.image-button {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.Meat-img {
  background-image: url("../../../../../assets/images/meat.png");
}

.Cheese-img {
  background-image: url("../../../../../assets/images/cheese.png");
}

.Salad-img {
  background-image: url("../../../../../assets/images/salad.png");
}

.Bacon-img {
  background-image: url("../../../../../assets/images/bacon.png");
}
