body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  font-size: 15px;
  background: #f2f3f4;
  color: #36383f;
  line-height: 1.3;
  min-width: 375px;
}

.container {
  max-width: 1210px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
